/* ******************************* GENERAL ***************************** */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

a{
  text-decoration: none;
  margin-right: 10px;
  color: white;
}

ul{
  list-style: none;
}


/* ************************** HEADER *********************************** */

header{
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ff6900;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);


}

header div{
  justify-content: space-between;
  align-items: center;
}

header div img{
  max-height: 30px;
}

header nav{
  width: 30%;
}

.main-menu a:hover{
  text-decoration: underline;
}

.shop-menu ul{
  justify-content: flex-end;
}

/* ***************************** MAIN ********************************** */

main{
  margin: 150px 0px 30px 0px;
}

main div.container{
  flex-wrap: wrap;
  justify-content: center;
	align-content: start;
}

.card{
  position: relative;
  width:calc(100% / 3.3);
  margin-bottom: 60px;
  min-width: 250px;
  margin-right: 20px;
}

.card img{
  left: 0px;
  top: 0px;
  max-width: 100%;
  max-height:auto;
}

.cont-img{
  cursor: pointer;
}

.switch{
  position: absolute;
  display: none;
  z-index: 1;
}

.cont-img:hover .switch{
  display: block;
}

.heart:hover{
  color: red;
}

.box-position{
  padding: 3px 8px;
  position: absolute;
  z-index: 2;
  color: white;
}

.offer{
  background-color: #ff0000;
  bottom: 110px;
  left: 0px;
}

.green{
  background-color: #008000;
  bottom: 110px;
  left: 60px;
  
}

.heart{
  color: black;
  position: absolute;
  font-size: 2.5rem;
  text-align: center;
  padding: 6px 16px;
  background-color: white;
  right: 0;
  top: 10px;
  z-index: 2;
  cursor: pointer;
}

#spe-position{
  left:0;
}

main span{
 color: #bbc0c5;
}

.price{
  color: #ff0000;
}

.old-price{
  text-decoration: line-through;
}


/* ***************************************** FOOTER ************************ */

footer{
  padding:30px 0px 20px 0px;
  background-color: black;
  color: white;
}

footer div.container{
  justify-content: space-between;
  align-items: center;
}

footer span{
  margin-right: 10px;
}

footer h3{
  padding-bottom: 10px;
}

footer ul{
  margin-top: 10px;
}