/* ******************************* GENERAL ***************************** */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

a{
  text-decoration: none;
  margin-right: 10px;
  color: white;
}

ul{
  list-style: none;
}



/* ************************** HEADER *********************************** */

header{
  background-color: #ff6900;
}

header div{
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

header div img{
  max-height: 40px;
}


/* ***************************** MAIN ********************************** */

main{
  margin: 50px 0px 30px 0px;
}

main div.flex{
  flex-wrap: wrap;
  justify-content: center;
	align-content: start;
}

.card{
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 60px;
}

.card img{
  left: 0px;
  top: 0px;
  max-width: 420px;
  max-height: 650px;
}

.card img:first-child{
  z-index: 0;
}

.switch{
  position: absolute;
  display: none;
  z-index: 1;
}

.card:hover .switch{
  display: block;
}

.box-position{
  padding: 3px 8px;
  position: absolute;
  z-index: 2;
  color: white;

}

.offer{
  background-color: #ff0000;
  bottom: 110px;
  left: 0px;
}

.green{
  background-color: #008000;
  bottom: 110px;
  left: 60px;
  
}

.heart{
  position: absolute;
  font-size: 2.5rem;
  text-align: center;
  padding: 6px 16px;
  background-color: white;
  right: 0;
  top: 10px;
  z-index: 2;
  
}

#spe-position{
  left:0;
}