/* ******************************* GENERAL ***************************** */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

a{
  text-decoration: none;
  margin-right: 10px;
  color: white;
}

ul{
  list-style: none;
}



/* ************************** HEADER *********************************** */

header{
  background-color: #ff6900;
}

header div{
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

header div img{
  max-height: 40px;
}


/* ***************************** MAIN ********************************** */

main{
  margin: 50px 0px 30px 0px;
}

.card{
  position: relative;
  cursor: pointer;
}

.card img{
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 450px;
}

/* .card img:first-child{
  z-index: 0;
}

.card img:last-child{
  display: none;
  z-index: 1;
}  */

/* .card img:first-child:hover .card img:last-child{
  display: block;

} */

#img1{

  z-index: 0;
}

#img2{
  display: none;
  z-index: 1;
}

#img:hover #img2{
  display: block;

}